// Real
$primary-darker: #113f31;
$primary-main: #5a776e;
$primary-lightest: #dfeee8;
$secondary-darker: #8c703b;
$secondary-main: #d4af37;
$secondary-lightest: #f1ede7;
$page-background: #fffbf4;
$neutral-white: #ffffff;
$neutral-border: #bebfba;
$neutral-text: #161d1b;
$neutral-text-secondary: #6b6b6b;
$discount: #8c2200;

// Transitons
$trans-basic: all 0.25s;

// Overlay
$overlay-main: #00000088;

// fake
$primary-color: #64ff00;
$secondary-color: #ffa600;
$third-color: #4ca2e9;
// fake box shadows
$box-shadow-3: rgba(0, 0, 0, 0.35) 0px 5px 15px;
