@import "typography";
@import "variables";
@import "mixins";
@import "buttons";

// MAIN SITE HEADER MARGIN
.mainWithNav {
	margin: 3rem auto;
}

// MAIN SITE HEADER
.headerMain {
	display: flex;
	align-items: center;
	justify-content: space-between;

	position: fixed;
	top: 0px;
	padding: 0 3rem;
	height: 3rem;
	width: 100%;
	background-color: $secondary-lightest;
	z-index: 10;

	.headerTitleMain {
		text-decoration: none;
		.headerTitle {
			@include H4;
			color: $primary-main;
			span {
				@include H4;
				color: $secondary-darker;
			}
		}
	}
	.navRightLinks {
		display: flex;
		align-items: center;
		gap: 0.75rem;
	}
	.navLink {
		@include MenuLink;
		@include P1;
	}
	.navLinkActive {
		@include MenuLink;
		@include P1;
		background-color: $primary-main;
		color: $neutral-white;
		&:hover {
			background-color: $primary-main;
			color: $neutral-white;
		}
	}
	.navLinkIcons {
		@include MenuLink;
		@include MenuIcon;
		background-color: transparent;
	}
	.navCart {
		@include MenuLink;
		@include MenuIcon;
		position: relative;
		background-color: transparent;

		.navCartBadge {
			position: absolute;
			top: 0;
			right: 0;

			display: flex;
			align-items: center;
			justify-content: center;
			font: normal normal 400 0.75rem/1.125rem "Lato", sans-serif;
			height: 1rem;
			width: 1rem;
			color: $neutral-text;
			background-color: $secondary-main;
			border-radius: 999px;
		}
	}
}

@media (max-width: 56.25rem) {
	.mainWithNav {
		margin: 1.875rem auto;
	}

	.headerMain {
		padding: 0 1.5rem;
		height: 1.875rem;

		.headerTitleMain {
			text-decoration: none;
			.headerTitle {
				@include H4;
				font-size: 1rem;
				color: $primary-main;
				span {
					@include H4;
					font-size: 1rem;
					color: $secondary-darker;
				}
			}
		}
		.navRightLinks {
			gap: 0.75rem;
			height: 2.5rem;
		}
		.navLink {
			padding: 0.25rem;
			font-size: 1rem;
			height: 2.5rem;
		}
		.navLinkActive {
			padding: 0.25rem;
			font-size: 1rem;
			height: 2.5rem;
			width: 2.5rem;
		}
		.navLinkIcons {
			height: 2.5rem;
			width: 2.5rem;
		}
		.navCart {
			height: 2.5rem;
			width: 2.5rem;
		}
	}
}
@media (max-width: 38.75rem) {
	.headerTitleMain {
		display: none;
	}
}

// MAIN SITE FOOTER
.footerMain {
	display: flex;
	gap: 6rem;

	margin-top: 3rem;
	padding: 3.375rem 6.25rem;
	background-color: $primary-darker;
	.footerTitle {
		@include H4;
		color: $secondary-lightest;
		span {
			@include H4;
			color: $secondary-main;
		}
	}
	.footerSection {
		display: flex;
		flex-direction: column;
		color: $neutral-white;
		h6 {
			@include H6;
		}
		a {
			@include P3;
			text-decoration: none;
			color: $neutral-white;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
@media (max-width: 56.25rem) {
	.footerMain {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
		padding: 3.375rem 3rem;
	}
}

// BUTTONS
.primaryBtn {
	@include PrimaryButton;
}
.secondaryBtn {
	@include SecondaryButton;
}
