@import "typography";
@import "variables";
@import "mixins";
@import "buttons";

// CATAGORY SHOP PAGES
.categoryHeaderMain {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 2.875rem 4.5rem;
	margin-bottom: 2.875rem;
	color: $neutral-white;
	background-color: $primary-main;

	h1 {
		@include H1();
		padding-bottom: 0.75rem;
	}

	p {
		@include P1();
	}
}

.categoryShopMain {
	display: grid;
	grid-template-columns: 16.125rem auto;
	padding: 0 4.5rem;
	background-color: $page-background;

	.filterAside {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		width: 100%;
		padding-right: 3rem;

		h5 {
			@include H5;
		}
	}

	.desktopCardsMain {
		display: grid;
		grid-template-areas:
			"Heading"
			"Card";
		padding: 0 0 0 3rem;
		max-width: fit-content;

		.desktopCardsTop {
			grid-area: Heading;

			display: flex;
			align-items: center;
			justify-content: space-between;

			.sortMain {
				display: flex;
				align-items: center;
				gap: 1rem;

				button {
					height: 30px;
					padding: 0 auto;
				}
			}
			// DESKTOP FILTERS TOP
			.filterChipsMain {
				display: flex;
				gap: 0.5rem;

				.filterChip,
				.filterChipSelected {
					@include P2;
					display: flex;
					justify-content: center;
					align-items: center;

					height: min-content;
					padding: 0.25rem 0.375rem;
					color: $primary-main;
					background-color: $neutral-white;
					border: 1px solid $neutral-border;
					border-radius: 999px;

					p {
						padding: 0rem 0.375rem;
					}

					&:hover {
						border-color: $primary-main;
					}
				}
				.filterChipSelected {
					background-color: $primary-hover;
					border-color: $primary-main;
				}
				.clearAllBtn {
					@include P3;

					color: $primary-main;
					background-color: transparent;
					border: none;
					&:hover {
						text-decoration: underline;
					}
				}
			}
			.sortMain {
				display: flex;
				align-items: center;
				gap: 1rem;
				width: 15.625rem;
				p {
					@include P2;
				}

				.dropDownMain {
					width: 100%;

					.dropDownBtn {
						display: flex;
						align-items: center;
						justify-content: space-between;
						width: 100%;
						height: 2rem;
						padding: 0rem 0.25rem;
						background-color: $neutral-white;
						color: $neutral-text;
						border: 1px solid $neutral-border;
					}
				}
			}
		}
		// PRODUCT CARDS
		.productCards {
			grid-area: Card;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			gap: 2rem 1.5rem;
			padding-top: 2rem;
			// GRID BREAKPOINTS

			.productCard {
				position: relative;

				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 1rem;
				max-width: 19.125rem;
				cursor: pointer;

				.cardOverlayPersist {
					@include ShopOverlayPersist;

					.cardWishlistHeartBtnTrue {
						@include WishlistBtnFilledWhiteBg;
						position: absolute;
						top: 0.5rem;
						right: 0.5rem;
					}
				}

				.cardOverlayHover,
				.cardOverlayPersist {
					@include ShopOverlayHover;

					.cardWishlistHeartBtn {
						@include WishlistBtnRegularWhiteBg;
						position: absolute;
						top: 0.5rem;
						right: 0.5rem;
					}
				}
				&:hover .cardOverlayHover.cardOverlayHover,
				&:hover .cardOverlayPersist.cardOverlayPersist {
					opacity: 1;
				}

				.cardImage {
					aspect-ratio: 1.5/1;
					display: flex;
					justify-content: center;
					align-items: center;
					overflow: hidden;

					img {
						aspect-ratio: 1.5/1;
						transition: transform 0.3s;
					}
				}
				// Bottom content section
				.cardDetail {
					display: flex;
					flex-direction: column;
					gap: 0.25rem;
					width: 100%;
					color: $neutral-text;

					.cardDetailName {
						@include P1;
						color: $primary-darker;
					}
					.cardDetailRating {
						display: flex;
						align-items: center;
						gap: 0.5rem;

						.cardDetailRatingStars {
							display: flex;
							align-items: center;
							gap: 0.25rem;
							color: $secondary-main;
						}
					}
					.cardDetailPrice {
						@include H6;
						color: $discount;
					}
					.cardDetailColors {
						display: flex;
						gap: 0.75rem;

						.cardDetailColorP {
							@include H6;
						}

						.cardDetailColorBlob {
							width: 0.0625rem;
							height: 1.25rem;
							background-color: $neutral-border;
						}
					}
				}
			}
		}
	}
}
