@import "typography";
@import "variables";
@import "mixins";
@import "buttons";

// TYPE SECTION
.dropDownMain {
	position: relative;
	transition: padding 0.5s ease-out;

	&.active {
		padding-bottom: 10.25rem;
		transition: padding 0.25s ease-out;
	}

	&.active > .dropToggleBtn + .checkboxMenu {
		opacity: 1;
		transform: translateY(0) scale(1);
		pointer-events: auto;
	}

	.checkboxMenu {
		position: absolute;
		top: 3.125rem;
		left: 0;
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
		opacity: 0;
		transform: translateY(-5rem) scale(1, 0.001);
		transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
		pointer-events: none;

		.checkboxContent {
			position: relative;
			@include P3;

			display: flex;
			align-items: center;
			justify-content: flex-start;

			// All the checkbox stuff
			.checkboxInput {
				position: absolute;
				left: 0.5rem;
				opacity: 0;
				cursor: pointer;

				&:hover + .checkboxLabel::before {
					background-color: $primary-lightest;
					transition: $trans-basic;
				}

				&:checked + .checkboxLabel::before {
					background-color: $primary-darker;
					border-color: $primary-darker;
					transition: $trans-basic;
					content: url(../../public/check_pi.svg);
				}

				// Animation
				&:checked + .checkboxLabel::after {
					opacity: 1;
					animation: fadeOut 1s forwards;
				}

				@keyframes fadeOut {
					0% {
						opacity: 0.9;
					}
					100% {
						opacity: 0;
					}
				}
			}
			.checkboxLabel {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				gap: 0.25rem;
				cursor: pointer;
				&::before {
					content: "";
					display: flex;
					justify-content: center;
					align-items: center;
					height: 1.25rem;
					width: 1.25rem;
					margin: 0.25rem;
					padding-top: 0.25rem;
					color: $neutral-white;
					background-color: transparent;
					border: 1px solid $neutral-light;
					border-radius: 0.25rem;
					transition: $trans-basic;
					z-index: 1;
				}

				&:hover::before {
					background-color: $primary-lightest;
					transition: $trans-basic;
				}
				// Animation for active
				&::after {
					content: "";
					position: absolute;
					left: -0.125rem;
					padding: 1rem;
					background-color: $primary-main;
					border-radius: 999px;
					opacity: 0;
					transition: opacity 0.5s;
					pointer-events: none;
					z-index: 0;
				}
			}
		}
	}
}

// PRICE SECTION
.dropDownMain {
	.numberMenu {
		position: relative;
		display: flex;
		gap: 0.5625rem;
		height: 2rem;
		max-width: 13.125rem;

		.numberLabel {
			position: absolute;
			top: calc(50% - 0.5625rem);
			left: 0.25rem;

			&:first-child {
				left: calc(50% + 0.5rem);
			}
		}
		.numberInput {
			width: 5.3125rem;
			padding: 0.5rem 0.5rem 0.5rem 1rem;
			background-color: $neutral-white;
			border: 1px solid $neutral-border;
			color: $neutral-text-secondary;
		}
	}
}

// Shared Syles
.dropToggleBtn {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0.5rem 0.25rem;
	background-color: transparent;
	border: none;
	border-top: 2px solid $primary-main;
	&:hover {
		cursor: pointer;
		background-color: $primary-hover;
	}
	.dropToggleBtnText {
		@include H6;
	}
}
