@import "typography";
@import "variables";
@import "mixins";
@import "buttons";

// CATAGORY SHOP PAGES
.categoryHeaderMain {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 2.875rem 4.5rem;
	color: $neutral-white;
	background-color: $primary-main;

	h1 {
		@include H1();
		padding-bottom: 0.75rem;
	}

	p {
		@include P1();
	}
}

// Temp
.tempCards {
	display: grid;
	align-items: center;
	grid-template-columns: repeat(3, 1fr);

	gap: 1rem;
	padding: 1rem;
	background-color: teal;
}
.tempCard {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
	background-color: antiquewhite;
	cursor: pointer;
	&:hover {
		transition: $trans-basic;
		background-color: aquamarine;
		box-shadow: $box-shadow-3;
	}
}
